<%- include('./layout/head') %>
    <h1>Listagem</h1>
    <table>
      <thead>
        <td>Name</td>
        <td>Email</td>
        <td></td>
      </thead>
      <tbody>
        <tr>
          <td>Yuri</td>
          <td>yuri@mail.com</td>
          <td><a href="#" class="btn">ver</a></td>
        </tr>
      </tbody>
    </table>
    <p><a href="/new" class="btn">Novo</a></p>
<%- include('./layout/footer') %>

