<%- include('./layout/head') %>
    <form action="/new" method="post">
      <input type="submit" value="Salvar" class="btn red">
    </form>
    <p><a href="/" class="btn">Voltar</a></p>
<%- include('./layout/footer') %>
